/* Fonte */
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(font/Montserrat-Bold);
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(font/Montserrat-Medium);
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(font/Montserrat-Regular);
  font-weight: 500;
}

/* Reset básico */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #F9F4F4;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: white;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  gap: 18px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* LOGO */
.Logo {
  display: flex;
  align-items: center;
  color: black;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  margin-left: 5px;

}

.Logo img {
  width: 47px;
  height: 47px;
  margin-right: 5px;
}

/* LOGIN */
.Login {
  display: flex;
  align-items: center;
  gap: 18px;
  font-family: "Montserrat";
  font-weight: 800;
  margin-top: 14px;
  margin-right: 45px;
}

.Login_text {
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: transform 0.25s ease;
  padding-bottom: 2px;
  border-bottom: 3px solid transparent;
}

.Login_text:hover {
  transform: translateY(-4px);
  border-bottom: 3px solid black;
}

.icon_LG img {
  width: 30px;
  height: 30px;
}

.icon_LG {
  transition: transform 0.25s ease;
}

.icon_LG:hover {
  transform: translateY(-4px);
}

.Login a:active {
  transform: scale(0.95);
}

/* NAV */
nav {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

nav a {
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  font-family: "Montserrat";
  padding-bottom: 5px;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: transform 0.25s ease;
  display: inline-block;
  /* necessário para o efeito de linha funcionar corretamente */
}

nav a:hover {
  transform: translateY(-3px);
  /*Efeito de elevação*/
  border-bottom: 4px solid black;
  font-weight: 700;
}

nav a:active {
  transform: scale(0.95);
}

.Agend_container {
  max-width: 380px; 
  width: 100%;
  margin: 50px auto;
  background-color: #FEFEFE;
  border-radius: 12px;
  padding: 22px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/* título */
.Agend_container h1 {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}

/* form */
.Agend_form {
  display: flex;
  flex-direction: column;
}

/* labels */
.Agend_form label {
  color: #000000;
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0 5px;
  text-transform: uppercase;
}

/* inputs */
.Agend_form input {
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: 1.5px solid  #d8cfc6;
  background: #faf8f6;
  color: #020202;
  outline: none;
  transition: 0.3s;

  font-family: "Montserrat-Bold", !important;
  font-size: 15px;
}

.Agend_form input:focus {
  border: 1px solid #5A3A2E;
  color: #000000;
}

/* botão ocupa toda largura */
.Agend_form button {
  font-family: "Montserrat";
  font-weight: 600;
  background-color: #5A3A2E;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border-radius: 9px;

  border: none;
  outline: none;
  box-shadow: none;

   transition: 
    transform 0.2s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.Agend_form button:hover {
  transform: translateY(-3px);
  background-color: #7B4F46;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Agend_form button:active {
   transform: scale(0.95);
    background-color: #7B4F46;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}