/*Fonte ultilizada : Montserrat*/
@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Bold.ttf);
}
body {
 background-color: #ffffff rgb(255, 255, 255),;
 margin: 0%;

}


header{
 background-color: white;
 padding: 25px 30px;
 display: flex;
 justify-content: space-between;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Logo{
    color: black;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 30px;
margin-left: 50px;

}

.Login{
 color: black;
 font-family: "Montserrat";
 font-weight: 800;
margin-top:  14px;
margin-right: 45px;
text-decoration: none;
}


nav{
    display: flex;
    gap: 30px;
 font-size: 20px;
}
nav a{
 margin-top: 15px;
 margin-left: 5px;
 margin-bottom: 10px;
 text-decoration: none;
 color: black;
font-family: "Montserrat";
 padding-bottom: 5px;
}
/*Se Quiser mudar o estilo da fonte pode!
Tamanho incorreto? pode alterar*/

nav a:hover{
 border-bottom: 2px solid black;
}

.container{
    width: 80%;
    max-width: 400px;
    margin: 0 auto; 
    padding: 100px;
    background-color: rgb(181, 179, 179);
    border-radius: 10px;
    position : relative;
    top:250px;
    right: 400px;
    font-family: "Montserrat";
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    
}
.container2 {
    width: 80%;
    max-width: 400px;
    margin: 0 auto; 
    padding: 100px;
    background-color: rgb(181, 179, 179);
    border-radius: 10px;
    position : relative;
    top:400px;
    left: 400px;
    font-family: "Montserrat";
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f9f4f4 , rgb(249, 244, 244);
    margin: 0;
    padding: 0;
}
.Container3{
    width: 80%;
    max-width: 400px;
    margin: 0 auto; /* centraliza */
    padding: 100px;
    background-color: rgb(181, 179, 179);
    border-radius: 10px;
    position : relative;
    top:20px;
    right: 400px;
    font-family: "Montserrat";
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.container4 {
    width: 80%;
    max-width: 400px; 
    padding: 100px;
    background-color: rgb(181, 179, 179);
    border-radius: 10px;
    position : relative;
    top:-700px;
    left: 700px;
}
/*Add modelo base para os elementos de agendamento e containers dessa pagina, ou podemos mudar essa parte do agendamento para outra pagina, clicando no agendamento que tem na nvbar!!*/