/* Fonte */
@font-face {
  font-family: 'Montserrat';
  src: url(Montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url(Montserrat-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url(Montserrat-Medium.ttf);
  font-weight: 500;
}

/* Reset básico */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #F9F4F4;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: white;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  gap: 18px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* LOGO */
.Logo {
  display: flex;
  align-items: center;
  color: black;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  margin-left: 5px;

}

.Logo img {
  width: 47px;
  height: 47px;
  margin-right: 5px;
}

/* LOGIN */
.Login {
  display: flex;
  align-items: center;
  gap: 18px;
  color: black;
  font-family: "Montserrat";
  font-weight: 800;
  margin-top: 14px;
  margin-right: 45px;
  text-decoration: none;
  cursor: pointer;

  border-bottom: 3px solid transparent; /* espaço reservado */
  transition: border-bottom 0.3s ease;
}

.Login:hover {
  border-bottom: 4px solid black; /* linha mais grossa */
}

.Login:active {
  transform: scale(0.95);
}

.icon_LG img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

/* NAV */
nav {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

nav a {
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  font-family: "Montserrat";
  padding-bottom: 5px;
  font-weight:500;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease;
}

nav a:hover {
  border-bottom: 4px solid black;
  font-weight:700;
}

nav a:active {
  transform: scale(0.95);
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 60px 80px;
}

.lado-esquerdo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.lado-esquerdo h1 {
  font-size: 36px;
  color: #000;
  font-weight: 700;
  margin: 0;
}

.lado-esquerdo h2 {
  font-size: 36px;
  color: #000;
  font-weight: 600;
  margin: 0;
}

.lado-esquerdo p {
  font-size: 18px;
  color: #000000;
    font-weight: 600;
  margin: 0;
}

.subtitulo {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

/* CAROUSEL */
.carousel {
  position: relative;
  width: 900px;
  height: 600px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
}

/* SLIDES */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.98);

  transition: 
    opacity 0.6s ease,
    transform 0.6s ease;
}

.slide.ativo {
  opacity: 1;
  transform: scale(1);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SETAS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.9);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 12px 18px;
  font-size: 22px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 10;

  opacity: 0;

  transition: 
    opacity 0.4s ease,
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.3s ease;
}

/* Fade das setas */
.carousel:hover .arrow {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.9);
}

.arrow:active {
  transform: translateY(-50%) scale(0.95);
}

.prev {
  left: 12px;
}

.next {
  right: 12px;
}

/* DOTS */
.dots {
  position: absolute;
  bottom: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;

  transition: 
    transform 0.2s ease,
    background 0.3s ease;
}

.dot:hover {
  transform: scale(1.2);
}

.dot.ativo {
  background: white;
  transform: scale(1.3);
}

/* TÍTULO */
h1 {
  text-align: center;
  margin-top: 50px;
  color: #333;
}

/* BOTÃO */
.butão_agdt {
  background-color: #5A3A2E;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content; 
  margin: 0;

  transition: 
    transform 0.2s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.butão_agdt:hover {
  background-color: #5A3A2E;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.butão_agdt:active {
  transform: scale(0.95);
}